[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whisper_timestamped = {git = "https://github.com/linto-ai/whisper-timestamped.git", editable = true}
audio-separator = "*"

[dev-packages]

[requires]
python_version = "3.9"
